.jumbotron {
    padding-bottom: 0.5rem;
    /* height: auto; */
    color: whitesmoke;
    background-image:url("https://www.cdc.gov/homepage/images/banner/covid-19-1330px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lead {
    margin-top: 5rem;
    font-weight: 600;
}

.sub-lead {
    text-align: right;
}

.display-4 {
    font-weight: 600;
    color: red;
    text-align: right;
}

.display {
    text-align: right;
    font-size: 1.7rem;
}