.card-basic {
    margin-top: 2rem;
}

h3 {
    text-align: center;
    margin-top: 1rem;
}

h4 {
    margin: 0
}
.symptoms-image {
    width: 50%;
    margin-left: 5rem;
}

.center-card-text {
    text-align: center;
}

.p-subtext {
    margin: 1rem;
}

.card-link {
    text-align: right;
    text-decoration: underline;
    color: #546A76;
    margin-right: 1rem;
}

.card-link:hover {
    color: #C8DBC7;
    text-decoration: underline;
}