.navbar {
    height: 3.5rem;
    background-color: #546A76
}

.navbar-brand, .nav-link {
    color: whitesmoke
}

.nav-link:hover, .navbar-brand:hover {
    color: #F9DEE1;
}

.navbar-toggler {
    background-color: white;
    color: black;
}

