.navbar {
    height: 3.5rem;
    background-color: #546A76;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.navbar-brand, .nav-link {
    color: whitesmoke
}

.nav-link:hover, .navbar-brand:hover {
    color: #F9DEE1;
}

.navbar-toggler {
    background-color: white;
    color: black;
}

.dropdown-menu {
    background-color: whitesmoke;
    text-align: center;
}

.dropdown-item:hover {
    color: #88A0A8;
}
